* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.search-icon svg {
    width: 18px;
    height: 18px;
}

.rick-and_morty_logo {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}

.search-input {
    background-color: #242427;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.search-input input {
    width: 100%;
    background-color: #242427;
    border: none;
    color: white;
    height: 100%;
    outline: none;
    font-size: 1.4rem;
}

.navigation {
    display: flex;
    list-style: none;
    margin-inline-end: 10px;
}

.navigation li {
    margin-inline-start: 10px;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characterImageStyles {
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.tooltip {
    width: 500px;
    height: 300px;
    position: absolute;
    inset-block-start: 0;
    transform: translateX(250px);
    background-color: white;
    z-index: 3;
    
}

.containerItemImage {
    position: relative;

}

.nameContainer {
    display: flex;
    background-color:black;
    width: 100%;
    height: 16px;
    color: white;
    font-size: 1.4rem;
    padding-inline-start: 6px;
    margin-block-end: 10px;
}
.name {
    margin-inline-end: 6px;
}

.characterInfo {
    display: flex;
    padding-inline-start: 6px;
    margin-block-end: 10px;
}

.planet {
    display: flex;
    padding-inline-start: 6px;
    margin-block-end: 10px;
}

.status {
    display: flex;
    padding-inline-start: 6px;
    margin-block-end: 10px;
}

